feature-map#feature-map(features='filteredFeatures',
                        redundancies='redundancies',
                        relevancies='relevancies',
                        selected-features='selectedFeatures',
                        target-feature='targetFeature',
                        simulation-timeout='30',
                        map-api='mapApi',
                        def-transform='1')
#control-bar(layout-padding)
  #loading-state.md-whiteframe-1dp(layout='row', layout-align='center center', layout-padding, ng-show='loadingQueue.length', ng-cloak)
    span {{loadingQueue[loadingQueue.length - 1].message}}
    md-progress-circular(md-mode='indeterminate', md-diameter='20')
.bottom-right-controls(layout='col', layout-align='end end')
  slide-filter(filter-params='filterParams', features='intermediateFilteredFeatures')
  #zoom-controls.md-padding
    .md-whiteframe-1dp(layout='column')
      md-button.md-icon-button(aria-label='Zoom in', ng-click='mapApi.zoomIn()')
        md-icon add
      md-divider
      md-button.md-icon-button(aria-label='Zoom out', ng-click='mapApi.zoomOut()')
        md-icon remove
#map-overlay(layout='column', layout-fill)
  .md-padding.left-pane
    search-bar(filter-params='filterParams', filtered-features='filteredFeatures', map-api='mapApi')
  #content(flex,layout='row', ui-view="predotsView")
