form.overlay-window(ng-submit='$event.preventDefault()',ng-cloak)
  #search.md-whiteframe-z1(layout='row')
    corner-menu
    md-autocomplete(flex,
                    md-selected-item='searchedItem',
                    md-search-text='searchText',
                    md-selected-item-change='onFeatureSearched(searchedItem)',
                    md-no-cache='true',
                    md-items='item in getSearchItems() | filter:{feature:{name: searchText}}',
                    placeholder='Search for feature')
      md-item-template
        span.item-title
          md-icon {{item.isTextFilter || item.isExcludeFilter ? 'filter_list' : 'search'}}
          span
            {{ item.isTextFilter ? 'Show \'' : item.isExcludeFilter ? 'Exclude \'' : 'Locate feature ' }}
            span(md-highlight-text='searchText', md-highlight-flags='^i') {{item.feature.name}}
            {{item.isTextFilter || item.isExcludeFilter ? '\'' : ''}}
      md-not-found No feature found
  #filter-info.md-whiteframe-z1(layout='column', ng-show='filterParams.searchText.length > 0 || filterParams.blacklist.length > 0 || filterParams.excludeText.length > 0')
    div(layout='row', ng-show='filterParams.searchText.length > 0')
      md-icon.filter-icon filter_list
      p '{{filterParams.searchText}}' in name
      span(flex)
      md-button.md-icon-button.reset-filter-button(ng-click='resetTextFilter()')
        md-icon close
    div(layout='row', ng-show='filterParams.excludeText.length > 0')
      md-icon.filter-icon filter_list
      p '{{filterParams.excludeText}}' not in name
      span(flex)
      md-button.md-icon-button.reset-filter-button(ng-click='resetExcludeFilter()')
        md-icon close
    div(layout='row', ng-show='filterParams.blacklist.length > 0')
      md-chips(flex)
        md-chip(ng-repeat='item in filterParams.blacklist', ng-show='shouldDisplayChip(item)')         
          div(layout='row')
            span {{item.name}}
            button.md-chip-remove(ng-click='filterParams.blacklist.removeObject(item)')
              md-icon close
      md-button.md-icon-button(ng-show='filterParams.blacklist.length > maxChipsPreviewed', ng-click='toggleChips()')
        md-icon {{chipsExpanded ? 'expand_less' : 'expand_more' }}

