form.overlay-window(ng-submit='$event.preventDefault()',ng-cloak)
      #search.md-whiteframe-z1(layout='row')
        corner-menu
        md-autocomplete(flex,
                        md-selected-item='searchedItem',
                        md-search-text='searchText',
                        md-selected-item-change='onFeatureSearched(searchedItem)',
                        md-no-cache='true',
                        md-items='item in getSearchItems() | filter:{feature:{name: searchText}}',
                        placeholder='Search for feature')
          md-item-template
            span.item-title
              md-icon {{item.isTextFilter ? 'filter_list' : 'search'}}
              span
                {{item.isTextFilter ? 'Filter features by \'' : 'Locate feature ' }}
                span(md-highlight-text='searchText', md-highlight-flags='^i') {{item.feature.name}}
                {{item.isTextFilter ? '\'' : ''}}
          md-not-found No feature found
      #filter-info.md-whiteframe-z1
        md-list(ng-show='filterParams.searchText.length > 0 || filterParams.blacklist.length > 0')
          md-list-item(ng-show='filterParams.searchText.length > 0', layout-align='center center')
            md-icon#filter-icon filter_list
            p {{filterParams.searchText}}
            span(flex)
            md-button#filter-reset
              md-icon(ng-click='resetTextFilter()') close
          md-list-item(ng-show='filterParams.blacklist.length > 0')
            div(layout='column')
              md-chips(md-removable='true')
                md-chip(ng-repeat='item in filterParams.blacklist', ng-show='shouldDisplayChip(item)')         
                  div(layout='row', layout-wrap, layout-align='begin begin')
                    span {{item.name}}
                    md-icon(ng-click='filterParams.blacklist.removeObject(item)') close
              md-button.md-primary(ng-show='filterParams.blacklist.length > 2', ng-click='toggleChips()')
                {{chipsExpanded ? 'Show less' : 'Show more'}}

